<div class="product-form">
    <h2>{{ productId ? 'Edit Product' : 'Add Product' }}</h2>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
            <mat-error *ngIf="productForm.get('name')?.hasError('required')">Name is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" rows="4"></textarea>
            <mat-error *ngIf="productForm.get('description')?.hasError('required')">Description is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Price</mat-label>
            <input matInput formControlName="price" type="number">
            <mat-error *ngIf="productForm.get('price')?.hasError('required')">Price is required</mat-error>
            <mat-error *ngIf="productForm.get('price')?.hasError('min')">Price must be greater than or equal to
                0</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Image URL</mat-label>
            <input matInput formControlName="imageUrl">
            <mat-error *ngIf="productForm.get('imageUrl')?.hasError('required')">Image URL is required</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="!productForm.valid">
            {{ productId ? 'Update Product' : 'Add Product' }}
        </button>
    </form>
</div>